html,
body {
    /*height: 100%;*/
    padding: 0;
}
.m-0{
    margin: 0;
}
.pl-0{
    padding-left: 0;
}
.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: #ccc;
}


#map {
    height: 100%;
    padding: 0;
    margin: 0
}

#tactical_map {
    cursor: default;
    height: calc(100vh - 68px);
    border-radius: 4px;
    background-color: #181E22;
}

.bg-tic{
    background-color: rgba(77, 77, 84, 0.35);
    padding: 2px;
    border-radius: 1px;
}
.bg-tac{
    background-color: rgba(234, 226, 215, 0.13);
    padding: 2px;
    border-radius: 1px;    
}

.currentSystemTactical {
    margin-top: 8px;
    float: right;
    /*border: 1px solid #06232f;*/
    display: inherit;
}

.currentSystemTactical label {
    color:  #6bc7be;;
    margin: 0px;
}

.currentSystemTimeTactical {
    margin-top: 8px;
    float: right;
    /*border: 1px solid #06232f;*/
    display: inherit;
}

.currentSystemTimeTactical label {
    color: #6bc7be;
}

.currentSystemTimeTactical .value {
    word-spacing: 2px;
}

.float-left {
    float: left
}

.float-right {
    float: right
}

#switchLayer {
    height: calc(100vh - 136px);
    overflow-y: auto;
    padding: 10px;
    margin-top: 98px;
    background-color: rgba(0, 0, 0, 0.753)
}

.infoSidebar {
    margin: 10px;
    top: 20px
}

.infoSidebar small {
    color: #5c7b8e
}

.infoSidebar input {}

.defaultToteMessage {
    color: #5fb369;
    font-size: 16px;
}

.createManualTrackForm {
    color: black;

}

#createManualTrackForm {
    font-size: 18px
}

#createManualTrackForm .create_track_button {
    margin: 15px
}

#createManualTrackForm .create_track_button input {
    background-color: rgba(0, 0, 255, 0.27)
}

#createManualTrackForm input {
    border-radius: 4px;
    font-size: 11px
}

#createManualTrackForm select {
    border-radius: 4px;
    font-size: 11px
}


.leaflet-popup-close-button {
    display: none
}

.leaflet-control-attribution {
    display: none
}

.map_footer {
    position: fixed;
    margin: 0;
    bottom: 0px;
    height: 30px;
    z-index: 401;
    background-color: #10192b;
    width: 100%;
    color: wheat;
}

.sidenav {
    /*height: calc(100vh - 175px);*/
    width: 0;
    border-radius: 6px;
    position: fixed;
    z-index: 401;
    top: 45px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    left: 5px;
    top: 0;
    width: 16px;
    color: antiquewhite;
}

.content_inside_sidebar {
    /*top: 10px;*/
}

#leaflet_map {
    transition: margin-right .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidebarnav_own_tote {
    font-size: 18px;
    color: #a2a2a7;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 10px;
    z-index: 400;
}

.sidebarnav_track_cop_track {
    font-size: 14px;
    width: 250px;
    color: #545966;
    background-color: #06121f;
    cursor: pointer;
    position: fixed;
    transition: 0.3s;
    right: 0px;
    top: 297px;
    border-radius: 1px;
    z-index: 400;
}

.sidebarnav_track_cop_track table thead tr{
   font-size: 9px;
}


.sidebarnav_track_tote {
    /*display: none;*/
    font-size: 14px;
    color: #A4A5A5;
    background-color: #10192b;
    cursor: pointer;
    /*position: absolute;*/
    transition: 0.3s;
    right: 4px;
    top: 156px;
    border-radius: 4px;
    z-index: 400;
    /*width: 239px;*/
}

.sidebarnav_track_tote .card-header {
    font-size: 14px;
}

.sidebarnav_track_tote .card-body {
    /*color: teal*/
}

.sidebarnav_track_tote .card-body .key {
    font-size: 12px;
}
.sidebarnav_track_tote .card-body .value {
    float: right;
    text-align: right;
    font-size: smaller;
    background-color: #D7D7D7;
    border-radius: 2px;
    padding: 2px;
    width: 69px;
    color: rgb(16, 25, 43);
    height: 19px;
}

.sidebarnav_track_tote .card-footer {
    font-size: 16px;
    color: cyan;
}


.sidebarnav_own_tote .own_ship_details {
    padding: 5px;
    border-bottom: 2px solid #363e50;
    /*border-top: 2px solid #363e50;*/
}

.sidebarnav_own_tote .own_ship_details .key {
    background-color: #002D3E;
    position: fixed;
    padding: 5px;
    font-size: 20px;
    border-radius: 7px;
    width: 80px;
    color: #00A0A6;
}

.sidebarnav_own_tote .own_ship_details .value {
    width: 90px;
    padding: 3px;
    color: #529891;
    float: right;
}
.sidebarnav_own_tote .own_ship_details .value sup{
    font-size: 15px;
}
.sidebarnav_own_tote .own_ship_details label {
    display: block;
    height: 30px;
    text-align: left;
}

.sidebarnav_button {
    font-size: 36px;
    color: #1aff61;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 36px;
    z-index: 400;
}

#ownPositionSOGTactical{
    color: #42ECE9;
    font-size: 24px;
}
#ownPositionCOGTactical{
    color: #42ECE9;
    font-size: 24px;
}

.ownRangeControlButton {
    background-image: url('../../img/svg/range.svg');
      background-size: 26px 26px;
    width: 30px;
    height: 30px;

    position: fixed;
    z-index: 402;
    bottom: -10px;
    margin-left: 44px !important;

}

.ownPositionButtonOnMap {
    background-image: url('../../img/svg/center.svg');
    background-size: 26px 26px;
    width: 30px;
    height: 30px;

    position: fixed;
    z-index: 402;
    bottom: -10px;
}

.gridTileButton{
    background-image: url('../../img/svg/grid.svg');
      background-size: 26px 26px;
    width: 30px;
    height: 30px;

    position: fixed;
    z-index: 402;
    bottom: -10px;
    margin-left: 78px !important;
}
.tileViewButton{
    background-image: url('../../img/svg/map.svg');
      background-size: 26px 26px;
    width: 30px;
    height: 30px;

    position: fixed;
    z-index: 402;
    bottom: -10px;
    margin-left: 115px !important;
}
.dialViewButton{
    background-image: url(../../img/svg/dial.svg);
     background-size: 26px 26px;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 402;
    bottom: -10px;
    margin-left: 150px !important;
}
.dragControllerButton{
    background-image: url(../../img/svg/drag.svg);
    background-size: 26px 26px;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 402;
    bottom: -10px;
    margin-left: 218px !important;
}
.vectorControllerButton{
        background-image: url(../../img/svg/course.svg);
    background-size: 26px 26px;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 402;
    bottom: -10px;
    margin-left: 185px !important;
}


.platform_option {
    color: turquoise;
}

.net_unit_option {
    color: antiquewhite;
}

.cop_option {
    color: cadetblue;
}

.back_to_tactical {
    float: left;
    margin: 10px
}

.toggle_radio {
    z-index: 401;
    position: relative;
    background: rgba(255, 255, 255, .1);
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 26px;
    width: 318px;
}

.toggle_radio>* {
    float: left;
}

.toggle_radio input[type=radio] {
    display: none;
    /*position: fixed;*/
}

.toggle_radio label {
    font-size: 16px;
    color: rgba(255, 255, 255, .9);
    z-index: 0;
    display: block;
    width: 100px;
    height: 20px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/
    /*make it blue*/
}

.toggle_option_slider {
    /*display: none;*/
    /*background: red;*/
    width: 100px;
    height: 20px;
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

#PF:checked~.toggle_option_slider {
    background: rgba(255, 255, 255, .3);
    left: 3px;
}

#NET_UNIT:checked~.toggle_option_slider {
    background: rgba(255, 255, 255, .3);
    left: 109px;
}

#COP:checked~.toggle_option_slider {
    background: rgba(255, 255, 255, .3);
    left: 215px;
}

.copTrackListArea {
    height: calc(100vh - 388px);
    overflow-y: auto;
}

.cop_track_card {
    box-shadow: 0 4px 8px 0 rgba(70, 40, 50, 30.6);
    background-color: wheat;
    margin: 10px;
    padding: 4px;
    transition: 0.3s;
    border-radius: 5px;
}

.own_tote_area {
    background-color: #06121f;
    top: 37px;
    width: 250px;
    padding: 4px;
    transition: 0.3s;
    right: 0;
    border-radius: 3px;
}

.own_tote_area .tote_title {
    font-size: 12px;
    color: #FDFDFE;
    background-color: #104164;
    padding: 4px;
}

.own_tote_area .tote_title .entity_selected{
    margin-left: 20px;
    min-width: 42px;
    height: 19px;
    text-align: center;
    padding: 2px;
    color: black;
    background-color: #d7d7d7;
    border-radius: 2px;
    position: absolute;
}
.own_tote_area .tote_title .entity_source{
    margin-left: 76px;
    min-width: 70px;
    text-align: center;
    height: 19px;
    padding: 2px;
    color: black;
    background-color: #d7d7d7;
    border-radius: 2px;
    position: absolute;
}


.cop_heading_card .card-header {
    font-size: 16px;
    color: #3aeca2;
}



.cop_track_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cop_track_card .card-header {
    font-size: 16px;
    color: #060933;
}

.cop_track_card .card-body {
    color: #171919;
}

img {
    border-radius: 5px 5px 0 0;
}

.leaflet-popup-content{
    margin: 2px 7px;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: #06121f;
}
.track_pop {
    font-size: 9px;
}

.track_pop span {
    color: white;
}

.track_pop label {
    color: white;
    /*float: right;*/
}

.rotate30 {
    transform: rotate(30deg);
}

.leaflet-control-mouseposition {
    display: none;
}

.mousePositionLatLong{
    position: fixed;
    height: 30px;
    font-size: 9px;
    color: white;
    width: 268px;
    top: calc(100vh - 62px);
    z-index: 402;
    padding: 4px;
    border-radius: 2px;
    opacity: 0.5;
}
/*#mouse_lat{
width: 136px;
}   
#mouse_long{
width: 136px;
}*/

.mousePositionLatLong .value{
    float: right
}

.mousePositionRangeBearing{
    position: fixed;
    display: none;
    width: 140px;
    height: 46px;
    background-color: #10192b;
    top: calc(100vh - 76px);
    z-index: 402;
    padding: 3px;
    opacity: 0.7;
    border-radius: 2px;
}
.mousePositionRangeBearing label{
    display: block;
}
.mousePositionRangeBearing .key{
    color: #3d6e7f;
}
.mousePositionRangeBearing .value{
    color: #6bc7be;
    float: right;
}

/*.mousePositionLatLng .lat_key {
    padding: 1px;
    position: fixed;
    width: 115px;
}

.mousePositionLatLng .lng_key {
    padding: 1px;
    width: 115px;
    position: fixed;
    margin-left: 132px;
}*/

.on_off_rangeCircle {
    text-align: center
}

.on_off_rangeCircle .value {
    font-size: 18px;
}

#current_range_naut {
    padding: 4px;
    background-color: #104165;
}

.leaflet-tooltip-left:before {
    display: none;
}

.leaflet-tooltip-right:before {
    display: none;
}

.leaflet-tooltip-right {
    margin-top: 22px !important;
    margin-left: -18px;
}

.leaflet-tooltip-left {
    margin-left: 23px;
    margin-top: 22px !important;
}

.leaflet-tooltip {
    margin-top: -18px;
    border: 0px;
    padding: 0px;
    color: wheat;
    background-color: transparent;
}

#track_list {
    display: none;
}
.leaflet-div-icon {
    border: none;
    background-color: transparent;
}

.track_course {
    width: 32px;
}

.cop-trac-list-search{
    width: 40%;
    padding: 2px;
}
.cop-trac-list-search input{
    height: 24px;
    border-radius: 24px;
    color: wheat;
}

/*Grid View*/
.leaflet-tile-pane{
    z-index: 401;
}


.leaflet-bottom{
    position: fixed;
}
.rangeCircleToolTipFour{
        color: cyan;
        left: -433px;
        top: -21px;
}
.rangeCircleToolTipThree{
        left: -331px;
        color: cyan;
        top: -21px;
}
.rangeCircleToolTipTwo{
        left: -228px;    
        color: cyan;
        top: -21px;
}
.rangeCircleToolTipOne{
        color: cyan;
        left: -126px;
        top: -21px;
}
.track_icon_pf{
    z-index: 402 !important;
}
#course_guage {
    position: fixed;
    display: none;
    width: calc(100vh - 69px) !important;
    height: calc(100vh - 69px) !important;
    top: 39px;
    z-index: 401;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
}
.anychart-ui-support{
    fill: aquamarine;
}
