<!-- THIS IS RENDERING OF BULLETINBOARD SECTION BASED ON BULLETIN BOARD SELECTED -->
<script id="presentingBBSectionInUI" type="text/x-handlebars-template">
    <div class="hollow_back sparkline9-list shadow-reset tab-pane fade in animated zoomInDown custom-inbox-message active">
            <div class="sparkline9-hd hollow_back" style="padding:6px;text-align: center;border-bottom: none">
                <div class="main-sparkline9-hd" >
                    <!-- <h1 class="label label-danger" id="bulletinBoardNameInConversationArea">{{bulletinBoardName}} :: {{forceName}}</h1> -->
                    <!--<h1 class="label label-danger" id="bulletinBoardNameInConversationArea">{{bulletinBoardName}}</h1>-->
                    <!--{{#each members}}
                    {{[]}}
                    {{/each}}-->

                        <div class="nav-item dropdown main-sparkline9-hd" style="width:100%;">
                                <a data-toggle="dropdown" role="button" aria-expanded="false"
                                    class="nav-link dropdown-toggle">
                                    <h1 class="label" id="bulletinBoardNameInConversationArea">Chat</h1>
                                </a>
                                <div role="menu" class="chat-scrollbar dropdown-menu animated flipInX members_dropdown" style="left: calc(24vw);">
                                       {{#each members}}
                                       <span class="members_item">{{[]}}</span>
                                       {{/each}}
                                </div>
            </div>
                </div>
            </div>
            <div class="sparkline9-graph middle_layer">
                <div class="card-box">
                    <div class="chat-conversation">
                        <div class="bulletinBoardConversationAreaP widgets-chat-scrollbar mCustomScrollbar _mCS_6 mCS-autoHide"><div id="mCSB_6" class="mCustomScrollBox mCS-light-1 mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;"><div id="mCSB_6_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                            <ul class="conversation-list bulletinBoardConversationArea"  id="bbChatSectionFor{{bulletinBoardName}}">
                                    {{#each comments}}
                                <li class="clearfix">
                                    <div class="conversation-text-bulletinBoard">
                                        <div class="ctext-wrap bulletinBoardSingleComment">
                                            <i class="bbSenderName">{{sender}}</i>
                                            <p class="bbMessage">
                                                {{comment}}
                                            </p>
                                            <p class="bbTime">
                                                    {{toLocalTime time}}
                                                </p>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div></div>
                        <div id="mCSB_6_scrollbar_vertical" class="mCSB_scrollTools mCSB_6_scrollbar mCS-light-1 mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_6_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 173px; max-height: 285px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
                        <div class="chat-widget-input reply-for-bulletinBoard">
                            <div class="row">
                                <div class="border-corner col-sm-10 col-md-10 col-sm-10 col-xs-10 chat-inputbar" style="background-color:white">
                                    <input type="text" style="background-color: white;color:black" class="form-control chat-input" id="bulletinCommentAt{{bulletinBoardName}}" placeholder="Enter your text">
                                </div>
                                <div class="col-sm-2 col-md-2 col-sm-2 col-xs-2 chat-send">
                                    <button type="submit" id="bulletinCommentPostButton" class="btn btn-md btn-primary btn-block waves-effect waves-light" onclick="sendForumMessageToQueue('{{bulletinBoardName}}','{{groupName}}','{{forceName}}')">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  
    <!-- HANDLING ENTER FUNCTIONALITY -->
    <script>
        //HANDLING ENTER KEY PRESSED
         $('[id="bulletinCommentAt{{bulletinBoardName}}"]').keypress(function (e) {
            if (e.keyCode == '13') {
                $('#bulletinCommentPostButton').click();
            }
            e.stopPropagation()
        })
    </script>



</script>




<!-- MAIN SECTION FOR BULLETIN BOARD STARTS HERE -->
<div class="angularContentArea" ng-controller="bulletinBoardController">
    <!-- Breadcome start-->
    <div class="breadcome-area mg-b-30 small-dn">
    </div>
    <!-- Breadcome End-->
    <!-- Mobile Menu start -->

    <!-- Mobile Menu end -->
    <!-- Breadcome start-->
    <div class="dynamic_page_header_bulletin">
            <div>
                <span>
                    <img src="../assets/img/icon/forum_icon.png" width="30px">
                 Forum Exchange   
                </span>
            </div>
        </div>
    <div class="inbox-mailbox-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <!-- "compose-b-mg-30" removed from Class-->
                            <div class="inbox-email-menu-list shadow-reset border-corner" style="padding:6px;height: calc(100vh - 194px);border:1px solid">
                                <div id="tfgBulletinBoardArea">
                                    <div class="compose-email">
                                        <a class="titleForForumInBulletinBoardArea" style="background:none">
                                            Forums
                                        </a>
                                    </div>
                                    <!-- <ul class="nav nav-tabs messages-scrollbar forumItemsInBulletinBoardArea"> -->
                                    <ul class="nav nav-tabs forumItemsInBulletinBoardArea">

                                        <div ng-repeat="fg in tfgIntra">
                                            <li class="btn forum_name_label btn-success" ng-click="callingBulletinBoard(fg.defaultBoard,fg.force,fg.name)">
                                                <!-- <a data-toggle="tab">{{defaultBulletinBoard}}<span class="count-inbox" id="bulletinBoardBadgeFor{{defaultBulletinBoard}}"></span></a> -->
                                                <a data-toggle="tab">{{fg.defaultBoard}}</a>
                                            </li>
                                        </div>
                                        <div ng-repeat="cg in tfgInter">
                                            <li class="btn forum_name_label btn-warning" ng-click="callingBulletinBoard(cg.defaultBoard,cg.force,cg.name)">
                                                <a data-toggle="tab">{{cg.defaultBoard}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <!-- <div id="conclaveBulletinBoardArea">
                                    <div class="compose-email">
                                        <a
                                            style="border-radius:4px;background-color:#2e6488; font-size: 16px;font-weight:bold;">
                                            External Forum
                                        </a>
                                    </div>
                                    <ul class="nav nav-tabs messages-scrollbar" style="overflow: auto;max-height:204px">
                                        <div ng-repeat="fg in tfgInter">
                                            <li class="btn" ng-click="callingBulletinBoard(fg.defaultBoard,fg.name)"
                                                style="display:block;text-align: left">
                                                <a data-toggle="tab">{{fg.defaultBoard}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </div> -->

                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="tab-content">
                                <div class=" bulletinBoardArea fixed-table-container" style="padding-bottom: 0px;">


                                </div>
                                <div>
                                    <!-- This is for Reply Region -->
                                </div>
                                <!-- </div> -->
                                <div class="clearfix"></div>
                                <!-- </div> -->
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
