<!-- THIS IS RENDERING OF CHATROOM SECTION BASED ON ROOM BOARD SELECTED -->
<script id="chatRoomConversationArea" type="text/x-handlebars-template">
    <div class="hollow_back sparkline9-list shadow-reset tab-pane fade in animated zoomInDown custom-inbox-message active">
        
            <span id="replyForwardDeleteHeaderInChat">
                <span id="chatReplyButton" onclick="chatRoomReplyButtonClicked('{{roomName}}')"><i class="fa fa-reply"></i></span>
                <!--<span onclick="deleteButtonClicked('{{roomName}}')"><i class="fa fa-trash"></i></span>
                -->
                <span class="nav-item dropdown"  onclick="userOpenListToForward()">
                    <a data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                            <i style="color: orange" class="fa fa-share"></i>
                    </a>
                    <div role="menu" class="chat-scrollbar dropdown-menu animated flipInX" style="overflow-y: auto;max-height:200px;left:-120px">
                        <input type="text" id="chatForwardListSearch" placeholder="Search" onkeyup="searchInForwardList()">
                        <ul id="listOfAllUsersToForwardMessage">

                        </ul>
                    </div>
                </span>
                <!-- <span onclick="forwardButtonClicked()"><i class="fa fa-share"></i> -->
                
            </span>   
            <div class="sparkline9-hd hollow_back" style="padding:6px;border-bottom: none">
                    
                        <!--<div class="main-sparkline9-hd" >
                            <h1 class="label label-danger" id="chatInConversationArea">Chat</h1>
                        </div>-->

                        <div class="nav-item dropdown main-sparkline9-hd" style="width:60%">
                                <a data-toggle="dropdown" role="button" aria-expanded="false"
                                    class="nav-link dropdown-toggle">
                                    <h1 class="label label-danger" id="chatInConversationArea">Chat</h1>
                                </a>
                                <div role="menu" class="chat-scrollbar dropdown-menu animated flipInX members_dropdown">
                                       {{#each members}}
                                       <span class="members_item">{{[]}}</span>
                                       {{/each}}
                                </div>
                            </div>


            </div>
            <div class="sparkline9-graph middle_layer">
                        <div class="card-box">
                            <div class="chat-conversation">
                                <div class="widgets-chat-scrollbar mCustomScrollbar _mCS_6 mCS-autoHide" style="height: calc(100vh - 364px); position: relative; overflow-x: hidden;overflow-y: auto"><div id="mCSB_6" class="mCustomScrollBox mCS-light-1 mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;"><div id="mCSB_6_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                                        <ul class="conversation-list chat-conversation-area" id="ChatSectionForScroll{{roomName}}">
                                                {{#each roomData}}
                                                {{#if me}}
                                                {{#if normal}}
                                                <li class="clearfix odd"  id="entireChat{{uuid}}">
                                                            <div class="conversation-text">
                                                            <div class="ctext-wrap" id="{{uuid}}" onclick="chatSelected('{{uuid}}','{{me}}')">
                                                                <!--<i class="meAsSender" style="display: none">{{toUpperCase sender}}</i>-->
                                                                <p>
                                                                    {{message}}
                                                                </p>
                                                                <i class="dateTime">{{time}}</i>
                                                                <!-- <div class="replySection">Hello Guys This is Reply Sectiion for This Message</div> -->
                                                            </div>
                                                        </div>
                                                        <!-- <input class="replyMeChatInputField" type="text" placeholder="Type Message to Reply"> -->
                                                </li>
                                                {{else if reply}}
                                                <li class="clearfix odd"  id="entireChat{{uuid}}">
                                                    <div class="conversation-text">
                                                    <div class="ctext-wrap" onclick="chatSelected('{{uuid}}','{{me}}')">
                                                            <div class="replySendSection">
                                                                    <span class="replySender">{{repliedTo.sender}}</span>
                                                                    <span class="replyMessage">{{repliedTo.message}}</span>
                                                                    <span class="replyTime">{{repliedTo.time}}</span>
                                                         </div>

                                                         <div id="{{uuid}}"> 
                                                        <!--<i class="meAsSender" style="display: none">{{toUpperCase sender}}</i>-->
                                                        <p>
                                                            {{message}}
                                                        </p>
                                                        <i class="dateTime">{{time}}</i>
                                                    </div>
                                                    </div>
                                                </div>
                                                <!-- <input class="replyMeChatInputField" type="text" placeholder="Type Message to Reply"> -->
                                                </li>
                                                {{/if}}
                                                {{else}}
                                                    {{#if normal}}
                                                    <li class="clearfix"  id="entireChat{{uuid}}">
                                                            <div class="conversation-text">
                                                                <div class="ctext-wrap"  id="{{uuid}}" onclick="chatSelected('{{uuid}}','{{me}}')">
                                                                    <i>{{toUpperCase sender}}</i>
                                                                    <p>
                                                                       {{message}}
                                                                    </p>
                                                                    <i class="dateTime">{{time}}</i>
                                                                </div>
                                                            </div>
                                                    </li>
                                                    {{else if reply}}
                                                    <li class="clearfix" id="entireChat{{uuid}}">
                                                                <div class="conversation-text">
                                                                    <div class="ctext-wrap" onclick="chatSelected('{{uuid}}','{{me}}')">
                                                                            <div class="replyRecSection">
                                                                                    <span class="replySender">{{repliedTo.sender}}</span>
                                                                                    <span class="replyMessage">{{repliedTo.message}}</span>
                                                                                    <span class="replyTime">{{repliedTo.time}}</span>
                                                                    </div>
                                                                  <div id="{{uuid}}"> 
                                                                        <i class="meAsSender">{{toUpperCase sender}}</i>
                                                                        <p>
                                                                            {{message}}
                                                                        </p>
                                                                        <i class="dateTime">{{time}}</i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </li>
                                                    {{/if}}
                                                {{/if}}
                                            {{/each}}
                                        </ul>
                                </div></div>
                                <div id="mCSB_6_scrollbar_vertical" class="mCSB_scrollTools mCSB_6_scrollbar mCS-light-1 mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_6_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 173px; max-height: 285px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
                            </div>
                        </div>     
            </div>
            <div id="userReplyDirectChatInputArea"></div> 
            <div class="chat-widget-input reply-for-bulletinBoard">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-sm-10 col-xs-10 chat-inputbar">
                        <input type="text" style="background-color: white;color:black" class="border-corner form-control chat-input" id="chatMessage{{roomName}}" placeholder="Enter your Message Here">
                    </div>
                    
                    <div class="col-sm-2 col-md-2 col-sm-2 col-xs-2 chat-send">
                        <button type="submit" id="sendChatButton" class="btn btn-md btn-primary btn-block waves-effect waves-light" onclick="sendingChatRoomMessage('{{roomName}}')">Send</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            //HANDLING ENTER KEY PRESSED
            $('[id="chatMessage{{roomName}}"]').keypress(function (e) {
                if (e.keyCode == '13') {
                    $('#sendChatButton').click();
                }
                e.stopPropagation()
            })

            function searchInForwardList() {
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById("chatForwardListSearch");
                filter = input.value.toUpperCase();
                ul = document.getElementById("listOfAllUsersToForwardMessage");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }

        </script>

</script>

<!-- THIS IS RENDERING OF CHAT SECTION BASED ON USER SELECTED -->
<script id="chatConversationArea" type="text/x-handlebars-template">
    <div class="hollow_back sparkline9-list shadow-reset tab-pane fade in animated zoomInDown custom-inbox-message active">
            <span id="replyForwardDeleteHeaderInChat">
                <span id="chatReplyButton" onclick="replyButtonClicked('{{chatUser}}')"><i class="fa fa-reply"></i></span>
                <span onclick="deleteButtonClicked('{{chatUser}}')"><i class="fa fa-trash"></i></span>
                
                <span class="nav-item dropdown"  onclick="userOpenListToForward()">
                    <a data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                            <i style="color: orange" class="fa fa-share"></i>
                    </a>
                    <div role="menu" class="chat-scrollbar dropdown-menu animated flipInX" style="overflow-y: auto;max-height:200px;left:-120px">
                        <input type="text" id="chatForwardListSearch" placeholder="Search" onkeyup="searchInForwardList()">
                        <ul id="listOfAllUsersToForwardMessage">

                        </ul>
                    </div>
                </span>
                <!-- <span onclick="forwardButtonClicked()"><i class="fa fa-share"></i> -->
                
            </span>   
            <div class="sparkline9-hd hollow_back" style="padding:6px;border-bottom: none">
                    
                        <div class="main-sparkline9-hd" >
                            <h1 class="label label-danger" id="chatInConversationArea">Chat</h1>
                        </div>
            </div>
            <div class="sparkline9-graph middle_layer">
                        <div class="card-box">
                            <div class="chat-conversation">
                                <div class="widgets-chat-scrollbar mCustomScrollbar _mCS_6 mCS-autoHide" style="height: calc(100vh - 364px); position: relative; overflow-x: hidden;overflow-y: auto"><div id="mCSB_6" class="mCustomScrollBox mCS-light-1 mCSB_vertical mCSB_outside" tabindex="0" style="max-height: none;"><div id="mCSB_6_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                                        <ul class="conversation-list chat-conversation-area" id="ChatSectionForScroll{{chatUser}}">
                                            {{#each messages}}
                                            {{#if me}}
                                            {{#if normal}}
                                            <li class="clearfix odd"  id="entireChat{{uuid}}">
                                                <div class="conversation-text">
                                                <div class="ctext-wrap" id="{{uuid}}" onclick="chatSelected('{{uuid}}','{{me}}')">
                                                    <i class="meAsSender" style="display: none">{{toUpperCase sender}}</i>
                                                    <p>
                                                        {{message}}
                                                    </p>
                                                                
                                                        <i class="dateTime">{{time}}</i>
                                                                <!-- <div class="replySection">Hello Guys This is Reply Sectiion for This Message</div> --> 
                                                        {{#if read}}
                                                        <i class="single_check"  style="color: cyan">&#10003&#10003</i>    
                                                        {{else if delivered}}
                                                        <i class="single_check" >&#10003&#10003</i>
                                                            {{else}}
                                                            <i class="single_check">&#10003</i>
                                                        {{/if}}  
                                                        </div>
                                                        </div>
                                                        <!-- <input class="replyMeChatInputField" type="text" placeholder="Type Message to Reply"> -->
                                                </li>
                                                {{else if reply}}
                                                <li class="clearfix odd"  id="entireChat{{uuid}}">
                                                <div class="conversation-text">
                                                <div class="ctext-wrap" onclick="chatSelected('{{uuid}}','{{me}}')">
                                                <div class="replySendSection">
                                                    <span class="replySender">{{repliedTo.sender}}</span>
                                                    <span class="replyMessage">{{repliedTo.message}}</span>
                                                    <span class="replyTime">{{repliedTo.time}}</span>
                                                    </div>

                                                    <div id="{{uuid}}"> 
                                                    <i class="meAsSender" style="display: none">{{toUpperCase sender}}</i>
                                                    <p>
                                                        {{message}}
                                                    </p>
                                                    <i class="dateTime">{{time}}</i>
                                                    </div>
                                                    {{#if read}}
                                                     <i class="single_check"  style="color: cyan">&#10003&#10003</i>    
                                                    {{else if delivered}}
                                                     <i class="single_check" >&#10003&#10003</i>
                                                    {{else}}
                                                     <i class="single_check">&#10003</i>
                                                    {{/if}}  
                                                    </div>
                                                </div>
                                                <!-- <input class="replyMeChatInputField" type="text" placeholder="Type Message to Reply"> -->
                                                </li>
                                                {{/if}}
                                                {{else}}
                                                {{#if normal}}
                                                    <li class="clearfix"  id="entireChat{{uuid}}">
                                                            <div class="conversation-text">
                                                    <div class="ctext-wrap"  id="{{uuid}}" onclick="chatSelected('{{uuid}}','{{me}}')"> 
                                                            <i>{{toUpperCase sender}}</i>
                                                            <p>
                                                                {{message}}
                                                            </p> 
                                                            <i class="dateTime">{{time}}</i>
                                                            </div>
                                                            </div>
                                                    </li>
                                                    {{else if reply}}
                                                    <li class="clearfix" id="entireChat{{uuid}}">
                                                    <div class="conversation-text">
                                                        <div class="ctext-wrap" onclick="chatSelected('{{uuid}}','{{me}}')">
                                                        <div class="replyRecSection">
                                                        <span class="replySender">{{repliedTo.sender}}</span>
                                                        <span class="replyMessage">{{repliedTo.message}}</span>
                                                        <span class="replyTime">{{repliedTo.time}}</span>
                                                        </div>
                                                        <div id="{{uuid}}"> 
                                                        <i class="meAsSender">{{toUpperCase sender}}</i>
                                                        <p>
                                                            {{message}}
                                                        </p>
                                                        
                                                        <i class="dateTime">{{time}}</i>
                                                        </div>
                                                        </div>
                                                        </div>
                                                    </li>
                                                    {{/if}}
                                                {{/if}}
                                            {{/each}}
                                        </ul>
                                </div></div>
                                <div id="mCSB_6_scrollbar_vertical" class="mCSB_scrollTools mCSB_6_scrollbar mCS-light-1 mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_6_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 173px; max-height: 285px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
                            </div>
                        </div>     
            </div>
            <div id="userReplyDirectChatInputArea"></div> 
            <div class="chat-widget-input reply-for-bulletinBoard">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-sm-10 col-xs-10 chat-inputbar">
                        <input type="text" style="background-color: white;color:black" class="border-corner form-control chat-input" id="chatMessage{{chatUser}}" placeholder="Enter your Message Here">
                    </div>
                    
                    <div class="col-sm-2 col-md-2 col-sm-2 col-xs-2 chat-send">
                        <button type="submit" id="sendChatButton" class="btn btn-md btn-primary btn-block waves-effect waves-light" onclick="sendingDirectChatMessage('{{chatUser}}')">Send</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            //HANDLING ENTER KEY PRESSED
            $('[id="chatMessage{{chatUser}}"]').keypress(function (e) {
                if (e.keyCode == '13') {
                    $('#sendChatButton').click();
                }
                e.stopPropagation()
            })

            function searchInForwardList() {
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById("chatForwardListSearch");
                filter = input.value.toUpperCase();
                ul = document.getElementById("listOfAllUsersToForwardMessage");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }

        </script>

</script>


<!-- MAIN SECTION FOR CHAT STARTS HERE -->
<div class="angularContentArea" ng-controller="chatController">
    <div class="breadcome-area mg-b-30 small-dn">
    </div>
    <div class="dynamic_page_header_chat">
        <div>
            <span>
                <img src="../assets/img/icon/chat_icon.png" width="30px">
                Chat
            </span>
        </div>
    </div>
    <!-- Breadcome start-->
    <div class="inbox-mailbox-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-9 col-sm-9">
                            <div class="tab-content">
                                <div class="chatRoomConversationArea chatConversationArea fixed-table-container"
                                    style="padding-bottom: 0px;">

                                    <!-- Area for Chat Board-->

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <!-- Removed Class compose-b-mg-30 -->
                            <div class="inbox-email-menu-list shadow-reset element_darklayout"
                                style="height:250px;padding:5px">
                                <div class="sparkline9-list shadow-reset mg-tb-30" style="margin: 0px;">
                                    <div class="onlineUserChatHeader sparkline8-hd">
                                        <div class="main-sparkline8-hd">
                                            <h1 class="label label-success"
                                                style="background-color: rgba(83, 162, 83, 0.69);color: white;">Room</h1>
                                            <div class="searchbar">
                                                <input type="text" placeholder="Search..." name="" class="search_input"
                                                    ng-model="searchOnlineRoom.roomName">
                                                    <!--<a class="search_icon"><i
                                                        class="fa fa-search"></i></a>-->
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapseRoomChat" class="dashone-comment dashtwo-messages">
                                        <div class="nav nav-tabs">
                                            <div
                                                ng-repeat="room in chatRooms | filter:searchOnlineRoom.roomName | orderBy : 'roomName'">
                                                <li>
                                                    <!--<a class="btn chatOptionInChatBox"
                                                        ng-click="userSelectedForChat(user.name)" data-toggle="tab">
                                                        <span class="username">{{user.name}}</span>-->

                                                        <a class="btn chatOptionInChatBox"
                                                        ng-click="roomSelectedForRoom(room.roomName)" data-toggle="tab">
                                                        <span class="chatRoomName">{{room.roomName.toUpperCase()}}</span>

                                                        <!--<span class="countryImage"><img src="../assets/img/flags/{{user.country}}.png"
                                                                width="30px">
                                                        </span>-->
                                                    </a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="inbox-email-menu-list shadow-reset element_darklayout"
                                style="height: calc(100vh - 440px);padding:5px">
                                <div class="sparkline9-list shadow-reset mg-tb-30" style="margin: 0px;">
                                    <div class="onlineUserChatHeader sparkline8-hd">
                                        <div class="main-sparkline8-hd">
                                            <h1 class="label label-success"
                                                style="background-color: rgba(83, 162, 83, 0.69);color: white;">Chat</h1>
                                            <div class="searchbar">
                                                <input type="text" placeholder="Search..." name="" class="search_input"
                                                    ng-model="searchOnlineUser"><a class="search_icon"><i
                                                        class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapseDirectChat" class="dashone-comment dashtwo-messages">
                                        <div class="nav nav-tabs">
                                            <div
                                                ng-repeat="user in userList | filter:searchOnlineUser | orderBy : ''">
                                                <li>
                                                    <!--<a class="btn chatOptionInChatBox"
                                                        ng-click="userSelectedForChat(user.name)" data-toggle="tab">
                                                        <span class="username">{{user.name}}</span>-->

                                                        <a class="btn chatOptionInChatBox"
                                                        ng-click="userSelectedForChat(user)" data-toggle="tab">
                                                        <span class="username">{{user}}</span>

                                                        <!--<span class="countryImage"><img src="../assets/img/flags/{{user.country}}.png"
                                                                width="30px">
                                                        </span>-->
                                                    </a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcome End-->