<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Electron</title>

    <!-- <link rel="stylesheet" href="assets/style.css"> -->
    <link rel="stylesheet" href="../assets/css/loginCss/pre-loader.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/form.css">

    <link rel="stylesheet" href="../assets/css/loginCss/loginError.css">
    <link rel="stylesheet" href="../assets/css/Lobibox.min.css">
    <link rel="stylesheet" href="../assets/css/loginCss/loginPage.css">
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../assets/js/bootstrap.min.js"></script>
</head>

<body class="loginArea" style="background-image: url('../assets/img/NavyBackground/b69.jpg');background-size: calc(100vw) calc(100vh);">
    <div class="row">
        <div>
             <img src="../assets/img/logo/logo.png" width="260px" height="96px"> 
             <!--<Strong>COMMAND OP-COORDINATION NETWORK</Strong> -->
        </div>

    </div>
    <div class="row">
        <div class="login_card card">
            <span class="bind_unit" id="bindedUnit"></span>            
            <img class="profile-img-card" src="../assets/img/logo/log.png" />
            <p class="profile-name-card"></p>
            <form id="loginForm" class="form-signin" action="javascript:requestForPasswordArea()">
                <!-- <span id="reauth-email" class="reauth-email"></span> -->
                <input type="text" name="username" id="loginUsername" class="form-control" placeholder="Username"
                    required>
                <input type="password" name="password" id="loginPassword" class="form-control" placeholder="Password">
                <button id="loginButton" class="btn btn-lg btn-primary btn-block btn-signin" type="submit" autofocus>Sign In</button>
            </form><!-- /form -->
         </div>
    </div>
	
    <div id="preloader-login">
        <div id="loader"></div>
    </div>
    <script src="../assets/js/Lobibox.js"></script>
    <script src="../Services/loginService.js"></script>
</body>

</html>
