

<div class="angularContentArea" ng-controller="composeController">


    <div class="dynamic_page_header_email">
        <div>
            <span>
                <img src="../assets/img/icon/email_icon.png" width="30px">
                Email
            </span>
            <div class="options">
                <a href="#!email_compose" data-toogle="tooltip" data-dispcement="down" title="Compose"><i class="fa fa-plus"></i></a>
                <a href="#!email_inbox" data-toogle="tooltip" data-dispcement="down" title="Inbox"><i class="fa fa-inbox"></i></a>
                <a href="#!email_draft" data-toogle="tooltip" data-dispcement="down" title="Draft"><i class="fa fa-file-o"></i></a>
                <a href="#!email_sent" data-toogle="tooltip" data-dispcement="down" title="Sent"><i class="fa fa-send"></i></a>
                <a href="#!email_trash" data-toogle="tooltip" data-dispcement="down" title="Trash"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>


    <div class="inbox-mailbox-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="tab-content">
                                <div id="composemail"
                                    class="tab-pane fade animated zoomInDown shadow-reset custom-inbox-message active in border-corner">
                                    <div class="view-mail-wrap">
                                        <div class="mail-title">
                                            <h2>Compose Mail</h2>
                                            <div class="view-mail-action">
                                                <a id="btn-get-content"><i class="fa fa-reply"></i> Send</a>
                                                <a class="compose-draft-bt" id="btn-store-draft"><i
                                                        class="fa fa-pencil"></i>
                                                    Draft</a>
                                                <a class="compose-discard-bt" id="btn-reset"><i class="fa fa-times"></i>
                                                    Clear</a>
                                                <!-- <a class="compose-discard-bt" href=""><i class="fa fa-times"></i>
                                                    Discard</a> -->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <div class="compose-email-to">
                                                            
                                            <!--<div class="form-group">
                                                <label class="col-md-10 control-label" for="rolename">Role Name</label>
                                                <div class="col-md-10">
                                                    <select id="dates-field2" class="multiselect-ui form-control" multiple="multiple">
                                                        <option value="cheese">Cheese</option>
                                                        <option value="tomatoes">Tomatoes</option>
                                                        <option value="mozarella">Mozzarella</option>
                                                        <option value="mushrooms">Mushrooms</option>
                                                        <option value="pepperoni">Pepperoni</option>
                                                        <option value="onions">Onions</option>
                                                    </select>
                                                </div>
                                            </div>-->


                                                            <span>To :</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <div class="compose-multiple-email">
                                                            <!-- <input type="email" name="recipient_email"
                                                                id="recipient_email" class="form-control"
                                                                style="display: none;"> -->
                                                            <div class="multipleInput-container">
                                                                <ul>
                                                                </ul>
                                                                <input type="email" id="email_search"
                                                                    class="email_search multiemail">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <div class="compose-email-to compose-subject-title">
                                                            <span>Subject :</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <div class="compose-multiple-email compose-subject-email">
                                                            <input id="email_subject" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <textarea name="" id="ta-1" cols="30" rows="30"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-lg-12">
                                            <div class="view-mail-reply-list">
                                                <ul class="view-mail-forword">
                                                    <li id="btn-get-content"><a><i class="fa fa-reply"></i> Send</a>
                                                    </li>
                                                    <li><a class="compose-discard-bt" id="btn-reset"><i class="fa fa-times"></i>
                                                            Clear</a>
                                                    </li>
                                                    <li><a class="compose-draft-bt" href=""><i class="fa fa-pencil"></i>
                                                            Draft</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="../assets/js/summernote.js"></script>
<script src="../assets/js/summernote-active.js"></script>
<script src="../assets/js/wow/email.js"></script>



</div>